* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.box {
    width: 1200px;
    margin: 20px auto;
}
.block-top {
    font-size: 0;
    background: gray;

}
.block-top-child {
    font-size: 14px;
    width: 400px;
    height: 400px;
    outline: 1px solid red;
    display: inline-block;
}

.block-middle {
    outline: 2px solid black;
    font-size: 0px;

}
.block-middle-mini-left {
    font-size: 14px;
    background: aqua;
    display: inline-block;
}

.block-middle-mini-right {
    background: gold;
    font-size: 14px;
    display: inline-block;
}

.block-middle-child-left {
    font-size: 14px;
    outline: 1px solid red;
    width: 800px;
    height: 200px;
}
.block-middle-child-right {
    font-size: 14px;
    outline: 1px solid red;
    height: 133px;
    width: 400px;
}
.block-bottom {
    outline: 2px solid red;
    font-size: 0px;
    background: aquamarine;
}
.bottom-firstchild {
    font-size: 14px;
    display: inline-block;
    width: 400px;
    height: 400px;
    outline: 1px solid red;
}
.bottom-secondchild {
    font-size: 14px;
    display: inline-block;
    outline: 2px solid red;
}
.bottom-ten {
    width: 800px;
    height: 200px;
    outline: 2px solid red;
}
.bottom-eleven {
    display: inline-block;
    font-size: 14px;
    outline: 2px solid black;
    width: 400px;
    height: 200px;
}
.bottom-thirdchild {
    font-size: 0px;
}
.bottom-forthchild {
    display: inline-block;
    font-size: 14px;
    width: 400px;
}
.bottom12 {
    outline: 2px solid red;
    height: 100px;
}
.bottom13 {
    outline: 2px solid red;
    height: 100px;
}